<ul class="topbar">
  <a href="{{ site.baseurl }}/me" style="vertical-align: middle;"><li><u>A</u>bout</li></a>
  <img style="vertical-align: middle;" src="https://gitlab.com/Neptunim_93/portfolio/badges/master/pipeline.svg" width="15%"/>
</ul>