---
---

@import "reset";
@import "main";

.default_title {
	background: #808080;
}
.post_title {
	background: #00007f;
}

.shell{
	background: black;
	color: white;
  }
  .shell > table > tbody > tr > th:nth-child(2n+1){
	display: none;
  }