<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/atom-one-light.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/rouge.css">
    {% if page.title or page.title == 'me' %}
        <title>{{ page.title }}</title>
        <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/002.css">
    {% else %}
        <title>{{ site.name }}</title>
        <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/001.css">
    {% endif %}
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/font-awesome.min.css">
    <link rel="shortcut icon" href="{{ site.baseurl }}/assets/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="{{ site.baseurl }}/assets/img/favicon.ico" type="image/x-icon">
  <script src="{{ site.baseurl }}/assets/js/highlight.pack.js"></script>
	<script>hljs.initHighlightingOnLoad();</script>
</head>
<body>
	<div class="wrapper">
		<div class="default_title">
      <img src="{{ site.baseurl }}/assets/img/mycomputer.png" />
			{% if page.tag %}
				<h1>{{ page.tag }}</h1>
			{% else %}
				<h1>{{ site.name }}</h1>
			{% endif %}
		</div>
		{% include topbar.html %}
		<div class="tag_list">
			<ul id="tag-list">
        <li><a href="{{ site.baseurl }}" ><img src="{{ site.baseurl }}/assets/img/disk.png" />(C:)</a>
			<ul>
				{% assign tags = site.data.tags | sort %}
				{% for tag in site.data.tags %}
        <li><a href="{{ site.baseurl }}/tag/{{ tag | first | slugify }}/" title="{{ tag[0] | replace:'-', ' ' }}"><img src="{{ site.baseurl }}/assets/img/folder.ico" />{{ tag[0] | replace:'-', ' ' }}</a></li>
				{% endfor %}
			</ul>
				</li>
			</ul>
		</div>
		<div class="post_list">
			{% unless page.date%}
				{% if page.title == 'me' or page.title == '404...' %}
					<ul>
            {% for post in site.posts {{ site.baseurl }}%}
            <li><a href="{{ site.baseurl }}{{  post.url }}" title="{{ post.title }}"><img src="{{ site.baseurl }}/assets/img/file.ico" title="{{ post.title }}" />{{ post.title }}</a></li>
						{% endfor %}
					</ul>
				{% else %}
					{{ content }}
				{% endif %}
			{% else %}
				<ul>
					{% for post in site.posts %}
          <li><a href="{{ site.baseurl }}{{  post.url }}" title="{{ post.title }}"><img src="{{ site.baseurl }}/assets/img/file.ico" title="{{ post.title }}" />{{ post.title }}</a></li>
					{% endfor %}
				</ul>
			{% endunless %}
      
		</div>
		<div class="post_total">
			{% if page.tag %}
				<div class="left">{{ site.tags[page.tag] | size }} object(s)</div>
			{% else %}
				<div class="left">{{ site.posts | size }} object(s)</div>
			{% endif %}
			<div class="right">&nbsp;</div>
		</div>
	</div>
	{% if page.title %}
        <div class="content">
			<div class="post_title">
        <img src="{{ site.baseurl }}/assets/img/file.png" />
				<h1>{{  page.title  }}</h1>
        <a href="{{ site.baseurl }}"><div class="btn"><span class="fa fa-times"></span></div></a>
				<div class="btn btn_max"><span class="fa fa-window-maximize"></span></div>
				<div class="btn"><span class="fa fa-window-minimize"></span></div>
			</div>
			<ul class="topbar">
				<li>{{ page.date | date: '%B %-d, %Y' }}</li>
			</ul>
			<div class="post_content">
        		{{ content }}
			</div>
		</div>
    {% endif %}
  <script src="{{ site.baseurl }}/assets/js/001.js"></script>
  <script src="{{ site.baseurl }}/assets/js/002.js"></script>
	<div class="footer">
		<p> © 2023  <a href="https://gitlab.com/Neptunim_93" target="_blank">Neptunim_93.</a>All rights reserved.</p>
    	<p>Theme by <a href="http://github.com/h01000110" target="_blank">h01000110 (hi)</a> | Code licensed under <a href="https://github.com/h01000110/windows-95/blob/master/LICENSE" target="_blank">MIT License</a></p> 
	</div>
</body>
</html>

